<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AcademicTracker</display-name>
  
  <servlet>
  <servlet-name>Registeration</servlet-name>
  <servlet-class>Registeration</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Registeration</servlet-name>
  <url-pattern>/Registeration</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Exam</servlet-name>
  <servlet-class>Exam</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Exam</servlet-name>
  <url-pattern>/Exam</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Home</servlet-name>
  <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Home</servlet-name>
  <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>HomeA</servlet-name>
  <servlet-class>HomeA</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>HomeA</servlet-name>
  <url-pattern>/HomeA</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Subject</servlet-name>
  <servlet-class>Subject</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Subject</servlet-name>
  <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Sub</servlet-name>
  <servlet-class>Sub</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Sub</servlet-name>
  <url-pattern>/Sub</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Tracker</servlet-name>
  <servlet-class>Tracker</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Tracker</servlet-name>
  <url-pattern>/Tracker</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>Registeration.html</welcome-file>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>Exam.html</welcome-file>
    <welcome-file>Tracker.html</welcome-file>
     <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>